.filters{
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}

.filters button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    float: right;
    margin: 12px 30px;
}

.filters button:hover{
    opacity: 0.9;
}

section .locations,
section .amenities {
    height: 100%;
    width: 25%;
    display: inline-block;
    padding-left: 10px;
    font-size: 12px;
}

section .locations {
    border-right: #DDDDDD 1px solid;
}

.amenities h3,
.locations h3 {
    font-weight: 600;
}

.amenities h4,
.locations h4 {
    font-weight: 400;
}