.places h1 {
    font-size: 30px;
}
.articles h2 {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: solid #FF5A5F 1px;
    border-radius: 4px;
    font-size: 30px;
    text-align: center;
    margin-top: -2px;
}

.articles {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: center;
}